body{
    background: rgb(248, 255, 255);
    font-family: Verdana;
    font-size: xx-large;
    letter-spacing: 1px;
    color: rgb(184, 242, 251);;
    text-shadow: 1px 1px black;
}
select{
    outline: none;
    border: none;
    background-color: rgb(184, 242, 251);
    color: black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    width: 204px;
    height: 40px;
}
option:hover{
    background-color: rgb(18, 74, 195);
    color: white;
}
input{
    outline: none;
    background-color: rgb(18, 74, 195);
    color: rgb(248, 255, 255);
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
input[type=number]{
    width: 200px;
    height: 20px;
    margin: 0 20px 0 0;
    caret-color: rgb(248, 255, 255);  /*changes the flashing line when pressed on the input box*/
}
input[type=number]::placeholder{
    color: rgb(248, 255, 255);
}
input[type=number]:hover{
    background-color: rgb(184, 242, 251);  
    caret-color: black;
}
input[type=number]:hover::placeholder{
    color: black;
}
input[type=button]{
    width: 100px;
    height: 40px;
    position: relative;
    top: 50px;
    left: -672px;
}
input[type=button]:hover{
    background-color: rgb(11, 6, 66);
    color: rgb(248, 255, 255);
}
#czas{
    position: absolute;
    top: 28.7px;
    left: 260px;
}
#wynik{
    margin-top: 45px;
}